py-cord[voice]==2.5.0
discord
discord.py
yt-dlp==2023.10.13
aiohttp==3.7.4
beautifulsoup4==4.12.2
spotipy==2.23.0
emoji==2.8.0
SQLAlchemy[asyncio]==2.0.23
asyncio==3.4.3
alembic==1.12.1
aioconsole==0.6.2
python-dotenv==0.15.0
youtube-dl==2021.12.17
youtube-search==2.1.0
